* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px 15px black;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 5px;
}

a {
  text-decoration: none;
}
